<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 台灣藝文通</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("台灣藝文通-會員專區", "FirstPage", "Member", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("台灣藝文場所列表", "Index", "Member")</li>
                    <li>@Html.ActionLink("藝文中心資料庫總覽", "CenterDB", "Member")</li>
                    <li>@Html.ActionLink("查詢", "Search", "Member")</li>
                    <li>@Html.ActionLink("願望清單", "WishList", "Member")</li>
                    <li>@Html.ActionLink("新增藝文中心", "Create", "Member")</li>
                    <li>@Html.ActionLink("登出", "Logout", "Member")</li>
                    <li><a href="#">@Session["WelCome"]</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 台灣藝文通</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>