@using PagedList
@using PagedList.Mvc


@model IPagedList<prjFinalProject.Models.TableCenters1081753>

@{
    ViewBag.Title = "藝文中心資料庫總覽";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />

    <h2>藝文中心資料庫總覽</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CNName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().ENName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().phone)
        </th>
        <th>
            編輯此項目
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CNName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>

                <a href="@Url.Action("Edit")?Code=@item.Code" class="btn btn-warning">編輯</a>
        
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("CenterDB", new { page }))