@model IEnumerable<prjFinalProject.Models.TableCenters1081753>
@{
    ViewBag.Title = "台灣藝文場所列表";
}

    <h2>台灣藝文場所列表</h2>
    <div class="row" style="margin-top:20px;">
        
        @foreach (var item in Model)
        {
            int count = 0;
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/images/@item.Img" style="width:300px;height:300px;">
                    <div class="caption">
                        <h4>名稱：@item.CNName</h4>
                        <h5>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(&nbsp;@item.ENName&nbsp;)</h5>
                        <p>地址：@item.Adress</p>
                        <p>

                            <a href="@Url.Action("AddList", "Member")?Code=@item.Code" class="btn btn-primary">加入願望清單</a>
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#@item.Code">詳細資訊</button>
                        </p>
                    </div>
                </div>
                <div class="modal fade" id=@item.Code tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">
                                    <span>&times;</span>
                                </button>
                                <h3 class="modal-title">@item.CNName</h3>
                            </div>
                            <div class="modal-body">
                                <img src="~/images/@item.Img" width="100%" style="float:left">
                                <p>地址：<a href="https://www.google.com.tw/maps/place/@item.Adress">@item.Adress</a></p>
                                @if (item.phone == null)
                                {
                                    <p>電話：<a href="@Url.Action("Edit")?Code=@item.Code">新增電話號碼？</a></p>
                                }
                                else
                                {
                                    <p>電話：<a href="tel:+@item.phone">@item.phone</a></p>
                                }
                                <p>啟用年分：@item.Year</p>
                                <p>場域類型：@item.Genre</p>
                                <p>簡述：@item.descript</p>
                            </div>
                            <div class="modal-footer">
                                <h5 style="float:right">台灣藝文通</h5>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

        }
        



    </div>
